body {
  background-image: url("./assets/images/background.jpg");
  background-size: cover;
  max-height: 100vh;
}

.search-box {
  position: fixed;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 800px;
}

.result-box {
  position: absolute;
}